/* .about-section {
    background: linear-gradient(135deg, #e3ffe7 0%, #d9e7ff 100%);
  }
  
  .card-about {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-about:hover {
    transform: scale(1.03);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    padding: 8px 0;
    font-size: 1.1rem;
  }
  
  h3 {
    font-weight: bold;
  }
   */